certifi==2024.2.2
charset-normalizer==3.3.2
colorama==0.4.6
ecmwf-api-client==1.6.3
ecmwf-opendata==0.3.3
idna==3.6
multiurl==0.2.3.2
numpy==1.26.4
pandas==2.2.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
PyYAML==6.0.1
requests==2.31.0
six==1.16.0
tqdm==4.66.2
tzdata==2024.1
urllib3==2.2.1
